
	.ShopReportSecret-container{
		width: 100%;
		height: 78vh;
		margin-top: -20px;
		position: relative;
/*		z-index: -1;*/
	}
	.ShopReportSecret-box1{
		width: 100%;
		margin: auto;
		background: rgb(92,215,238);
	    background: linear-gradient(to bottom, rgba(92,215,238,1) 0%,rgba(106,218,235,1) 9%,rgba(112,219,235,1) 20%,rgba(126,224,230,1) 31%,rgba(129,225,230,1) 39%,rgba(146,228,226,1) 49%,rgba(168,235,220,1) 62%,rgba(182,240,216,1) 82%,rgba(196,244,214,1) 100%);
		text-align: center;
		position: relative;
		overflow: hidden;
	}
	.ShopReportSecret-box3{
		width: 100%;
		position: relative;
	}
	.ShopReportSecret-box4{
		width: 100%;
		position: relative;
	}			

	.ShopReportSecret-box1 h4{
		color:#7C3944;
	}	
	.ShopReportSecret-cloud1{
		position:absolute;
		left: 10%;
		top: 30%;
		animation: cloudMoveOne 8s infinite; 
	}
	.ShopReportSecret-cloud2{
		position: absolute;
		left: 20%;
		top: 20%;
		animation: cloudMoveTwo 10s infinite;
	}
	.ShopReportSecret-cloud3{
		position: absolute;
		right: 30%;
		top: 25%;
		animation: cloudMoveThree 9s infinite;
	}
	.ShopReportSecret-cloud4{
		position: absolute;
		right: 20%;
		top: 40%;
		animation: cloudMoveFour 11s infinite;
	}
	.ShopReportSecret-cloud5{
		position: absolute;
		right: 10%;
		top: 30%;
		animation: cloudMoveFive 12s infinite;
	}
	.ShopReportSecret-build{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;

	}
	/*======================*/
	@keyframes cloudMoveOne{
		0%{left: 10%}
		50%{left: 15%}
		100%{left: 10%}
	}
	@keyframes cloudMoveTwo{
		0%{left: 20%}
		50%{left: 15%}
		100%{left: 20%}
	}
	@keyframes cloudMoveThree{
		0%{right:30%}
		50%{right:35%}
		100%{right:30%}
	}
	@keyframes cloudMoveFour{
		0%{right:20%}
		50%{right:25%}
		100%{right:20%}
	}
	@keyframes cloudMoveFive{
		0%{right:20%}
		50%{right:15%}
		75%{right:10%}
		100%{right:20%}
	}	
	/*========================*/
	.ShopReportSecret-box2{
		width: 100%;
		background-color: #666666;
		position: relative;
	}
	.ShopReportSecret-bike{
		position: absolute;
		left: 0;
		top: -170px;
		z-index: 2;
		animation: bikeMove 31.54s linear infinite;
	}
	.ShopReportSecret-tiefont{
		position: absolute;
		left: 155px;
		top: 152px;
		animation: rotatingfont 31.54s linear infinite;

	}
	.ShopReportSecret-tieafter{
		position: absolute;
		left: 20px;
		top: 152px;
		animation: rotatingafter 31.54s linear infinite;

	}		

	.ShopReportSecret-trees{
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: 3;

	}
	/*=========================*/
	@keyframes bikeMove{
		from {left:0}
		to {left:1900px}
	}
	@keyframes rotatingfont{
	  from {
	    transform: rotate(0deg);
	    left: 155px;
	  }
	  to {
	    transform: rotate(1080deg);
	    left: 2055px;
	  }
	}
	@keyframes rotatingafter{
	  from {
	    transform: rotate(0deg);
	    left: 20px;
	  }
	  to {
	    transform: rotate(1080deg);
	    left: 1920px;
	  }
	}

/*======================================表格*/
	.ShopReportSecret-secretNews{
		max-width: 960px;
		margin: auto;
		color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
	}
	a{	color: #fff;
		text-decoration: none;
	}









/*==============================*/
	@media screen and (max-width:768px){
/*	.col-xs-0{display: none;}
	.col-xs-1{ float: left; width: 8.333333%; box-sizing: border-box;}
	.col-xs-2{ float: left; width: 16.666666%; box-sizing: border-box;}
	.col-xs-3{ float: left; width: 25%; box-sizing: border-box;}
	.col-xs-4{ float: left; width: 33.333333%; box-sizing: border-box;}
	.col-xs-5{ float: left; width: 41.666666%; box-sizing: border-box;}
	.col-xs-6{ float: left; width: 50%; box-sizing: border-box;}
	.col-xs-7{ float: left; width: 58.333333%; box-sizing: border-box;}
	.col-xs-8{ float: left; width: 66.666666%; box-sizing: border-box;}
	.col-xs-9{ float: left; width: 75%; box-sizing: border-box;}
	.col-xs-10{ float: left; width: 83.333333%; box-sizing: border-box;}
	.col-xs-11{ float: left; width: 91.6666669%; box-sizing: border-box;}
	.col-xs-12{ float: left; width: 100%; box-sizing: border-box;}*/

	.ShopReportSecret-title1{	
		padding: 1.5em 1.5em 0.5em;
	}
	.ShopReportSecret-box1 h4{
		display: none;
	}	
	.ShopReportSecret-box1{
		height: 40vh;
		margin-top:-20px; 		
	}
	.ShopReportSecret-secretNews{
		top: -26vh;
	}
	.ShopReportSecret-box2{
		height: 40vh;
	}	
	.ShopReportSecret-box3{
		height: 10vh; 
		margin: -10vh 0 0;
	}
	.ShopReportSecret-box4{
		height: 10vh;
		margin: -10vh 0 0;		
	}	
	.ShopReportSecret-news1{
		position: relative;
		overflow: hidden;
		min-height: 200px;
		margin: 10px;
		background:url('../images/reporter/rice2.jpg');
		background-position: center;
	}
	.ShopReportSecret-news1:after{
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-left:75px solid rgba(227,227,27,0.8);
		border-bottom:75px solid transparent;
		position: absolute;
		left: 0;
		top:0;		
	}	
	.ShopReportSecret-news2{
		position: relative;
		overflow: hidden;
		min-height: 200px;
		margin: 10px;
		background:url('../images/reporter/cathouse2.jpg');
		background-position: center;
	}
	.ShopReportSecret-news2:after{
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-left:75px solid rgba(227,227,27,0.8);
		border-bottom:75px solid transparent;
		position: absolute;
		left: 0;
		top:0;		
	}	
	.ShopReportSecret-news3{
		position: relative;
		overflow: hidden;
		min-height: 200px;
		margin: 10px;
		background:url('../images/reporter/up2.jpg');
		background-position: center;
	}
	.ShopReportSecret-news3:after{
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-left:75px solid rgba(227,227,27,0.8);
		border-bottom:75px solid transparent;
		position: absolute;
		left: 0;
		top:0;		
	}	
	.ShopReportSecret-news4{
		position: relative;
		overflow: hidden;
		min-height: 200px;
		margin: 10px;
		background:url('../images/reporter/tofu2.jpg');
		background-position: center;
	}
	.ShopReportSecret-news4:after{
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-left:75px solid rgba(227,227,27,0.8);
		border-bottom:75px solid transparent;
		position: absolute;
		left: 0;
		top:0;		
	}	

	.ShopReportSecret-secretNews p{
		position: absolute;
		top: -10px;
		left:5px;
		color: #000;
		z-index: 5;
	}				


	}

/*================================*/
	@media screen and (min-width:768px){
/*	.col-sm-0{display: none;}
	.col-sm-1{ float: left; width: 8.333333%; box-sizing: border-box;}
	.col-sm-2{ float: left; width: 16.666666%; box-sizing: border-box;}
	.col-sm-3{ float: left; width: 25%; box-sizing: border-box;}
	.col-sm-4{ float: left; width: 33.333333%; box-sizing: border-box;}
	.col-sm-5{ float: left; width: 41.666666%; box-sizing: border-box;}
	.col-sm-6{ float: left; width: 50%; box-sizing: border-box;}
	.col-sm-7{ float: left; width: 58.333333%; box-sizing: border-box;}
	.col-sm-8{ float: left; width: 66.666666%; box-sizing: border-box;}
	.col-sm-9{ float: left; width: 75%; box-sizing: border-box;}
	.col-sm-10{ float: left; width: 83.333333%; box-sizing: border-box;}
	.col-sm-11{ float: left; width: 91.6666669%; box-sizing: border-box;}
	.col-sm-12{ float: left; width: 100%; box-sizing: border-box;}*/

	.ShopReportSecret-title1{
		padding: 1.5em 1.5em 0.5em;
	}
	.ShopReportSecret-box1{
		margin-top: -15px;
		height: 40vh;
	}
	.ShopReportSecret-container{
		overflow: hidden;
	}	
	.ShopReportSecret-box2{
		height: 40vh;
	}	
	.ShopReportSecret-box3{
		height: 10vh; 
		margin: -10vh 0 0;
	}
	.ShopReportSecret-box4{
		height: 10vh;
		margin: -10vh 0 0;		
	}	
	.ShopReportSecret-secretNews{
		margin-top: -20vh;
	}			
	.ShopReportSecret-news1{
		overflow: hidden;
		min-height: 200px;
		margin: 10px;
		background:url('../images/reporter/rice.jpg');
	}
	.ShopReportSecret-news2{
		overflow: hidden;
		min-height: 200px;
		margin: 10px;
		background:url('../images/reporter/cathouse.jpg');
	}
	.ShopReportSecret-news3{
		overflow: hidden;
		min-height: 200px;
		margin: 10px;
		background:url('../images/reporter/up.jpg');
	}
	.ShopReportSecret-news4{
		overflow: hidden;
		min-height: 200px;
		margin: 10px;
		background:url('../images/reporter/tofu.jpg');
	}
	.ShopReportSecret-news1:hover > .ShopReportSecret-ghost1{
		margin-left:-350px;		
		transition: 1s;
	}	
	.ShopReportSecret-news2:hover > .ShopReportSecret-ghost2{
		margin-left:350px;
		transition: 1s;
	}	
	.ShopReportSecret-news3:hover > .ShopReportSecret-ghost3{
		margin-left:-350px;
		transition: 1s;
	}	
	.ShopReportSecret-news4:hover > .ShopReportSecret-ghost4{
		margin-left:350px;
		transition: 1s;
	}
	.ShopReportSecret-ghost1{
		position: relative;
		padding: 1px;
		margin-left:-470px;
		width: 100%;
		min-height: 200px;
		background-color:#DF4833;
	}	
	.ShopReportSecret-ghost2{
		position: relative;
		padding: 1px;
		margin-left: 470px;
		width: 100%;
		min-height: 200px;
		background-color:#DF4833;
	}	
	.ShopReportSecret-ghost3{
		position: relative;
		padding: 1px;
		margin-left: -470px;
		width: 100%;
		min-height: 200px;
		background-color:#DF4833;
	}		
	.ShopReportSecret-ghost4{
		position: relative;
		padding: 1px;
		margin-left: 470px;
		width: 100%;
		min-height: 200px;
		background-color:#DF4833;
	}
	.ShopReportSecret-box2{
		height: 40vh;
	}
	.ShopReportSecret-ghost2 p,.ShopReportSecret-ghost4 p{
		color:rgba(0,0,0,0);
		font-size: 20px;
		position: absolute;
		left: 30px;
		top: 0;
	}	
	.ShopReportSecret-ghost2 p:after{
		content: '詳　　細　　資　　料';
		position: absolute;
		top: 40px;
		left: 20px;
		color: #fff;
	}		
	.ShopReportSecret-ghost4 p:after{
		content: '詳　　細　　資　　料';
		position: absolute;
		top: 40px;
		left: 20px;
		color: #fff;
	}							
	.ShopReportSecret-ghost1 p,.ShopReportSecret-ghost3 p{
		color:rgba(0,0,0,0);
		font-size: 20px;
		position: absolute;
		right: 0;
		top: 0;
	}
	.ShopReportSecret-ghost1 p:after{
		content: '詳　　細　　資　　料';
		position: absolute;
		top: 40px;
		right: 10px;
		color: #fff;
	}
	.ShopReportSecret-ghost3 p:after{
		content: '詳　　細　　資　　料';
		position: absolute;
		top: 40px;
		right: 10px;
		color: #fff;
	}
							



	}	



